<div class="relative mt-4 flex-row flex-wrap mr-4 overflow-hidden border-4 rounded-2xl border-primary dark:border-steel bg-gradient-to-b from-secondary to-primary dark:from-white-offset dark:to-steel">
  <div class="flex-[1 0 auto] p-4  text-white">
    {% if site.data.contact.phone %}
    <div class="mb-1 text-black"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="text-black"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
  </div>
  {% if include.show_button %}
  <div class="flex flex-wrap justify-start p-4 mx-auto">
    <a href="{{ site.data.contact.contact_button_link }}"
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-secondary rounded-lg hover:bg-primary hover:border-secondary border border-primary focus:ring-4 focus:outline-none focus:ring-secondary">
      Contact Us
    </a>
  </div>
  {% endif %}
</div>