<div class="relative mt-4 flex-row flex-wrap mr-4 overflow-hidden border-4 rounded-2xl border-primary dark:border-eerie_black-600 bg-gradient-to-b from-true_blue-600 to-primary dark:from-seasalt-700 dark:to-eerie_black-600">
  <div class="flex-[1 0 auto] p-4  text-seasalt-500">
    {% if site.data.contact.phone %}
    <div class="mb-1 text-eerie_black"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="text-eerie_black"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
  </div>
  {% if include.show_button %}
  <div class="flex flex-wrap justify-start p-4 mx-auto">
    <a href="{{ site.data.contact.contact_button_link }}"
      class=" inline-flex items-center px-3 py-2 text-sm font-medium text-center text-seasalt-500 bg-true_blue-600 rounded-lg hover:bg-true_blue hover:border-true_blue-600 border border-primary focus:ring-4 focus:outline-none focus:ring-true_blue-600">
      Contact Us
    </a>
  </div>
  {% endif %}
</div>