<section id="contact">
    <div class="mx-auto ">
        <div class="flex items-stretch justify-center">
            <div class="grid md:grid-cols-2">
                <div class="h-full pr-6">
                    <p class="mt-3 mb-12 text-lg text-eerie_black-600 dark:text-seasalt-500">
                        Have questions, feedback, or just want to say hello? We’d love to hear from you! Reach out using
                        the form below, or connect with us on social media. Our team is here to assist you.
                    </p>
                    <ul class="mb-6 md:mb-0">
                        <li class="flex">
                            <div
                                class="flex h-10 w-10 items-center justify-center mt-4 rounded bg-true_blue dark:bg-eerie_black-600 text-seasalt-500">
                                <i class="far fa-address-card"></i>
                            </div>
                            <div class="mb-4">
                                <ul>
                                    <li class="mb-2 font-medium text-eerie_black-600 dark:text-seasalt-500 flex"><span
                                            class=" text-2xl">Our Address</span></li>
                                    <li class="text-eerie_black-600 dark:white-offset flex">20088 Apache Dr</li>
                                    <li class="text-eerie_black-600 dark:white-offset flex">Clinton Township, MI 48038</li>
                                </ul>
                            </div>
                        </li>
                        <li class="flex">
                            <div
                                class="mt-4 flex h-10 w-10 items-center justify-center rounded bg-true_blue dark:bg-eerie_black-600 text-seasalt-500">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="mb-4">
                                <ul>
                                    <li class="mb-2 font-medium text-eerie_black-600 dark:text-seasalt-500 flex"><span
                                            class=" text-2xl">Contact</span></li>
                                    <li class="text-eerie_black-600 dark:white-offset flex"><span class="mr-4">tel:</span> +1 (313) 284-5656</li>
                                    <li class="text-eerie_black-600 dark:white-offset flex"><span class="mr-4">email:</span> <a
                                            class="no-underline font-normal dark:text-seasalt-500" href="mailto:info@skratsch.com" target="_blank">
                                            info@skratsch.com</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class=" flex">
                            <div
                                class="flex h-10 w-10 items-center mt-4 justify-center rounded bg-true_blue dark:bg-eerie_black-600 text-seasalt-500">
                                <i class="far fa-clock"></i>
                            </div>
                            <div class="mb-4">
                                <ul>
                                    <li class="mb-2 font-medium text-eerie_black-600 dark:text-seasalt-500 flex">
                                        <span class=" text-2xl">Working Hours</span>
                                    </li>
                                    <li class="text-eerie_black-600 dark:white-offset flex">Monday - Friday: 09:00
                                        -
                                        17:00</li>
                                    <li class="text-eerie_black-600 dark:white-offset flex">Saturday &amp; Sunday:
                                        By
                                        Appointment
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card h-fit max-w-6xl p-5 md:p-12" id="form">
                    <h2 class="mb-4">Ready to Get Started?</h2>
                    <form id="contactForm">
                        <div class="mb-6">
                            <div class="mx-0 mb-1 sm:mb-4">
                                <div class="mx-0 mb-1 sm:mb-4">
                                    <label for="name" class="pb-1 text-xs uppercase tracking-wider"></label><input
                                        type="text" disabled id="name" autocomplete="given-name" placeholder="Your name"
                                        class="mb-2 w-full rounded-md border bg-gray-300 border-eerie_black-600 py-2 pl-2 pr-4 shadow-md dark:text-seasalt-500 sm:mb-0"
                                        name="name">
                                </div>
                                <div class="mx-0 mb-1 sm:mb-4">
                                    <label for="email" class="pb-1 text-xs uppercase tracking-wider"></label><input
                                        type="email" disabled id="email" autocomplete="email" placeholder="Your email address"
                                        class="mb-2 w-full rounded-md border bg-gray-300 border-eerie_black-600 py-2 pl-2 pr-4 shadow-md dark:text-seasalt-500 sm:mb-0"
                                        name="email">
                                </div>
                            </div>
                            <div class="mx-0 mb-1 sm:mb-4">
                                <label for="textarea" class="pb-1 text-xs uppercase tracking-wider"></label><textarea
                                    id="textarea" disabled name="textarea" cols="30" rows="5" placeholder="Write your message..."
                                    class="mb-2 w-full rounded-md border bg-gray-300 border-eerie_black-600 py-2 pl-2 pr-4 shadow-md dark:text-seasalt-500 sm:mb-0"></textarea>
                            </div>
                        </div>
                        <div class="text-center">
                            <button disabled type="submit"
                                class="w-full bg-gray-300 dark:bg-blue-500 text-gray-400 dark:text-seasalt-500 px-6 py-3 font-xl rounded-md sm:mb-0">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>