<div class="dark:bg-eerie_black">
  <header>
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto">
      <a href="/}" class="flex items-center space-x-3 rtl:space-x-reverse">
        <svg  class="w-32 m-auto fill-eerie_black-600 dark:fill-white" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 796 305" fill="currentColor">
          {{ site.logo.desktop-code }}
        </svg>  
      </a>
      {% include main-menu.html %}
    </div>
    
    {% include breadcrumbs.html %}
  </header>
</div>