<div id="mega-menu" class="items-center justify-between w-auto flex order-2 align-middle">
  {% assign mainmenu = site.data.menus.main | sort: 'weight' %}
  <ul class="flex flex-row mt-4 font-medium space-x-8">
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      <a href="{{ item.url | relative_url }}" class="block text-secondary border-0 hover:text-primary p-0"
        aria-current="page">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>
  <button id="toggle" onclick="toggleDark();" class="-mb-4 ml-8 cursor-pointer align-middle"><p id="toggle-text" class="fa "></p></button>
</div>