:root {
  --color-primary: "#3A64B2";
  --color-primary-dark: #c59b4d;
  --color-secondary: #6098ff;
  --color-black: "#2f2f41";
  --color-white': '#ffffff';
  --color-white-offset': "#fff6f8";
  --color-steel': '#5c5a5a';
  --font-family-base': "Open Sans", sans-serif;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  h1 {
    @apply text-3xl font-semibold tracking-tight text-primary dark:text-white;
  }
  h2 {
    @apply text-xl font-semibold text-primary dark:text-white-offset tracking-tight;
  }
  h3 {
    @apply text-lg font-semibold text-primary dark:text-white-offset tracking-tight;
  }
  h4 {
    @apply text-base font-semibold text-primary dark:text-white-offset tracking-tight;
  }
  h5 {
    @apply text-sm font-semibold text-primary dark:text-white-offset tracking-tight;
  }
  h6 {
    @apply text-xs font-semibold text-primary dark:text-white-offset tracking-tight;
  }

  .prose {
    & thead {
      & tr {
        @apply p-2  bg-primary border-b text-left dark:bg-secondary;
        & th {
          @apply p-2 text-white-offset dark:text-white;
        }
      }
    }
    & tbody {
      & tr {
        @apply pl-2 odd:bg-white-offset odd:dark:bg-white-offset even:bg-steel even:dark:bg-primary odd:text-steel odd:dark:text-steel even:text-white-offset even:dark:text-white-offset;
        & td {
          @apply p-2;
        }
      }
    }
    & p {
      @apply text-base text-steel dark:text-white-offset;
    }
    & li {
      @apply text-base text-steel dark:text-white-offset;
    }
    & h1 {
      @apply text-3xl font-semibold tracking-tight text-primary dark:text-white;
    }
    & h2 {
      @apply text-xl font-semibold text-primary dark:text-white tracking-tight;
    }
    & h3 {
      @apply text-lg font-semibold text-primary dark:text-white tracking-tight;
    }
    & h4 {
      @apply text-base font-semibold text-primary dark:text-white tracking-tight;
    }
    & h5 {
      @apply text-sm font-semibold text-primary dark:text-white tracking-tight;
    }
    & h6 {
      @apply text-xs font-semibold text-primary dark:text-white tracking-tight;
    }
    & a {
      @apply text-primary dark:text-white no-underline;
    }
    & b,
    strong {
      @apply font-semibold text-steel  dark:text-white;
    }
    & blockquote {
      @apply align-top my-4 mx-auto pt-0 border-0 bg-white-offset dark:bg-steel  text-steel dark:text-white-offset;
    }
  }
  .hero-it-application-hosting {
    @apply bg-[url('/images/hero/application-hosting-hero.png')];
  }
  .hero-it-backup-recovery {
    @apply bg-[url('/images/hero/backup-and-recovery-services-hero.png')];
  }
  .hero-it-cloud-migration {
    @apply bg-[url('/images/hero/cloud-migration-hero.png')];
  }
  .hero-it-email-management {
    @apply bg-[url('/images/hero/email-management-services-hero.png')];
  }
  .hero-it-staff-augmentation {
    @apply bg-[url('/images/hero/it-staff-augmentation-hero.png')];
  }
  .hero-it-support {
    @apply bg-[url('/images/hero/it-support-services-hero.png')];
  }
  .hero-it-microsoft-365 {
    @apply bg-[url('/images/hero/microsoft-365-services-hero.png')];
  }
  .hero-it-network-management {
    @apply bg-[url('/images/hero/network-management-services-hero.png')];
  }
  .hero-it-technology-assessment {
    @apply bg-[url('/images/hero/technology-assessment-services-hero.png')];
  }
  .hero-it-technology-selection {
    @apply bg-[url('/images/hero/technology-selection-hero.png')];
  }
  .hero-it-voip-business-phone {
    @apply bg-[url('/images/hero/voip-business-phone-hero.png')];
  }
  .hero-software-configuration {
    @apply bg-[url('/images/hero/software-configuration-services-hero.png')];
  }
  .hero-software-customization {
    @apply bg-[url('/images/hero/software-customization-services-hero.png')];
  }
  .hero-software-development {
    @apply bg-[url('/images/hero/software-development-services-hero.png')];
  }
  .hero-software-integration {
    @apply bg-[url('/images/hero/software-integration-services-hero.png')];
  }
  .hero-cookie-policy {
    @apply bg-[url('/images/hero/cookie-policy-hero.png')];
  }
  .hero-privacy-policy {
    @apply bg-[url('/images/hero/privacy-policy-hero.png')];
  }
  .hero-terms-conditions {
    @apply bg-[url('/images/hero/terms-conditions-hero.png')];
  }
  .hero-contact-us {
    @apply bg-[url('/images/hero/contact-us-hero.png')];
  }
  .hero-about-us {
    @apply bg-[url('/images/hero/about-us-hero.png')];
  }
  .hero-blog {
    @apply bg-[url('/images/hero/blog-hero.png')];
  }
  .hero-consulting-bc {
    @apply bg-[url('/images/hero/business-continuity-hero.png')];
  }
  .hero-consulting-bp {
    @apply bg-[url('/images/hero/business-productivity-hero.png')];
  }
  .hero-consulting-grow {
    @apply bg-[url('/images/hero/growing-businesses-hero.png')];
  }
  .hero-consulting-is {
    @apply bg-[url('/images/hero/information-security-hero.png')];
  }
  .hero-consulting-policy {
    @apply bg-[url('/images/hero/it-policies-procedures-hero.png')];
  }
  .hero-consulting-strategy {
    @apply bg-[url('/images/hero/it-strategy-hero.png')];
  }
  .hero-consulting-setup {
    @apply bg-[url('/images/hero/new-office-setup-hero.png')];
  }
  .hero-consulting-advisor {
    @apply bg-[url('/images/hero/technology-advisor-hero.png')];
  }
  .hero-consulting-remote {
    @apply bg-[url('/images/hero/remote-working-hero.png')];
  }
  .hero-data-business-analytics {
    @apply bg-[url('/images/hero/business-analytics-hero.png')];
  }
  .hero-data-data-management {
    @apply bg-[url('/images/hero/data-management-hero.png')];
  }
  .hero-data-dba {
    @apply bg-[url('/images/hero/database-administration-hero.png')];
  }
  .hero-data-power-platform {
    @apply bg-[url('/images/hero/microsoft-power-platform-hero.png')];
  }
  .hero-data-reporting {
    @apply bg-[url('/images/hero/reporting-dashboards-hero.png')];
  }
}

@layer utilities {
  /* your utility classes here */
}

@layer components {
  /* your components classes here */
}
