@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --color-primary: "#e5261f";
    --color-primary-dark: #a01b16;
    --color-secondary: #f88379;
    --color-black: "#2f2f41";
    --color-white': '#ffffff';
        --color-white-offset': "#fff6f8";
    --color-steel': '#5c5a5a';
        --font-family-base': "Open Sans",
      sans-serif;
  
  h1 {
    @apply text-[42px] font-bold leading-[1.2];
  }
  h2 {
    @apply w-4/5 text-[1.2rem] leading-[1.4] mb-[30px] font-[var(--font-family-base)];
  }
  p {
    @apply text-[1.2rem] font-light leading-[1.5] text-color-steel mb-5;
  }

  a {
    @apply text-color-primary;
    text-decoration: none;
  }
  a:hover {
    @apply lighten(text-color-primary), 10%);
    text-decoration: underline;
  }
  footer {
    @apply bg-color-primary text-color-white;
  }
  sub-footer {
    @apply darken(bg-color-primary, 10%) text-color-white;
  }
}
}

@layer components {
  .call {
    @apply relative flex-row flex-wrap overflow-hidden border-4 bg-white-offset w-full text-center z-2;
  }
  .call-box-top {
    @apply flex-[1 0 auto] p-5;
  }
  .call-phone {
    @apply mb-5;
  }
  .call-email {
    a {
      @apply text-color-black;
    }
  }
  .call-box-bottom {
    @apply flex-auto p-5 border-t-4 border-solid border-white-offset;
  }
  .page {
    @apply flex min-h-dvh flex-column;
    .container {
      @apply flex-[1 0 0];
    }
  }
  .page-home {
  }
  .page-service {
    @apply text-[1.6rem] leading-[1.4] mb-[40px] font-[regular] text-[rgb(104,_104,_104)]
  }
  .page-post {
  }
  .page-basic {
  }
  .page-contact {
  }

  .header {
    @apply bg-white flex justify-between items-center border-b-[1px_solid_var(--white-offset)] px-0 py-[10px];
  }
  &.header-absolute {
    @apply absolute z-10 w-full;
  }
  .header-extra {
  }

  .lock-scroll {
    .header {
      &.header-absolute {
        @apply static;
      }
    }
  }
  .intro-image {
    @apply w-full h-auto mt-[-40px];
  }
  .intro-image-absolute {
    @apply max-w-none p-0 mb-5;
    @apply md:absolute md:bottom-[-50px] md:left-[-50px] md:w-[700px];
    @apply lg:bottom-[-60px] lg:left-[-60px] lg:w-[800px];
    @apply xl:bottom-[-100px] xl:left-[-70px] xl:w-[850px];
  }
  .intro-image-hide-mobile {
    @apply hidden;
    @apply md:block;
  }
  .intro {
    @apply flex justify-start items-center pt-[60px] pb-[60px] overflow-hidden;
  }
  .intro-small {
    @apply pt-[100px] pb-[30px];
  }
  .logo {
    @apply hidden;
    @apply md:block;
    img {
      @apply max-w-none;
    }
    a {
      @apply block w-full h-full;
    }
  }
  .logo-mobile {
    @apply block w-[40px] p-[10px] md:hidden;
    img {
      @apply w-full h-auto;
    }
    a {
      @apply block w-full h-full;
    }
  }
  .main-menu-mobile {
    @apply fixed bg-[var(--primary)] top-[0] left-[0] w-full h-screen opacity-0 invisible [transition:opacity_0.35s,_visibility_0.35s,_height_0.35s] overflow-hidden flex justify-center items-center flex-col
        .open {
      @apply opacity-90 visible h-screen z-20;
      li {
        @apply animation-fadeInRight_0.5s_ease_forwards;
        animation-delay: 0.35s;
        &:nth-of-type(2) {
          animation-delay: 0.4s;
        }
        &:nth-of-type(3) {
          animation-delay: 0.45s;
        }
        &:nth-of-type(4) {
          animation-delay: 0.5s;
        }
        &:nth-of-type(5) {
          animation-delay: 0.55s;
        }
        &:nth-of-type(6) {
          animation-delay: 0.6s;
        }
      }
      ul {
        @apply text-[30px] font-[var(--font-family-heading)] text-center list-none p-0 m-0 flex-0;
        li {
          @apply block relative opacity-0 p-10;
          a {
            @apply block relative text-color-white text-decoration-none overflow-hidden;
            &:hover {
              @apply lighten(text-color-white, 10%);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .main-menu {
    @apply hidden;
    @apply md:flex md:justify-end md:items-center md:flex-row;
    ul {
      @apply flex;
      li {
        @apply relative;
        a {
          @apply text-color-black text-[1.2rem] font-[var(--font-family-base)] px-5 py-3;
          &:hover {
            @apply lighten(text-color-black, 10%);
          }
        }
      }
    }
  }
  .main-menu-mobile-toggle {
    @apply block w-[40px] p-[10px] md:hidden;
    img {
      @apply w-full h-auto;
    }
  }
  .social {
    @apply block;
    img {
      @apply w-[20px] h-[20px];
    }
    a {
      @apply p-[10px] block;
      &:hover {
        @apply opacity-80;
      }
    }
  }
  .strip {
    @apply bg-white bg-no-repeat;
  }
  .strip-white {
    @apply bg-white;
  }
  .strip-grey {
    @apply bg-white-offset;
  }
  .strip-diagonal {
    @apply transform-skewY_5deg pb-[50px] mb-[65px];
    > div {
      @apply transform-skewY_-5deg;
    }
  }
  .strip-primary-gradient {
    @apply bg-gradient-to-r_from-[var(--primary)] to-[var(--secondary)];
  }
  .strip-primary-gradient-top-bottom {
    @apply bg-gradient-to-b_from-[var(--primary)] to-[var(--secondary)];
  }
  .strip-primary {
    @apply bg-[var(--primary)];
  }
  .strip-secondary {
    @apply bg-[var(--secondary)];
  }
  .strip-diagonal-right {
    @apply mt-[-100px] transform-skewY_-5deg pb-[100px];
    > div {
      @apply transform-skewY_5deg;
    }
  }
  .strip-diagonal-left {
    @apply mt-[-100px] transform-skewY_5deg pb-[100px];
    > div {
      @apply transform-skewY_-5deg;
    }
  }
  .sub-footer {
    @apply bg-[var(--sub-footer-background-color)] text-[var(--sub-footer-text-color)] pt-[15px] pb-[15px];
    @apply md:pt-[10px] md:pb-[10px];
    .sub-footer-inner {
      @apply flex flex-col justify-between;
      @apply md:flex-row;
    }
    .copyright {
      @apply mt-[10px] text-[14px];
      a {
        @apply font-bold text-inherit;
      }
    }
    .social {
      a:first-of-type {
        @apply ml-[-10px];
      }
    }
  }

  .title {
    @apply text-color-black text-[48px] leading-[1.2];
    @apply md:text-[50px];
  }
  .button {
    @apply whitespace-nowrap inline-block h-[40px] leading-[40px] px-[14px] py-[0] bg-[var(--primary)] rounded-[4px] text-[14px] font-normal uppercase tracking-wide text-[#ffffff] no-underline [transition:all_0.15s_ease];
  }
  .button:hover {
    @apply text-[#ffffff] bg-lighten(var(--primary), 10%);
    transform: translateY(-1px);
    text-decoration: none;
  }
  .content {
    a {
      @apply underline;
    }
    img {
      @apply max-w-full h-auto mt-[20px] mb-[20px];
    }
    strong {
      @apply font-bold;
    }
    em {
      @apply italic;
    }
    p {
      @apply font-[var(--font-family-base)] leading-[1.56] text-[var(--color-steel)];
    }
    h1 {
      @apply font-[var(--font-family-base)] text-[34px] leading-[1.26] font-normal mt-[30px] mb-[20px];
    }
    h2 {
      @apply font-[var(--font-family-base)] text-[26px] font-normal leading-[1.4] mt-[30px];
    }
    h3 {
      @apply font-[var(--font-family-base)] text-[20px] leading-[1.4] font-normal mt-[30px];
    }
    ul,
    ol {
      @apply mb-[20px];
      ul,
      ol {
        @apply mb-0;
      }
    }
    ul {
      @apply list-disc;
    }
    ol {
      @apply list-decimal;
    }
    li {
      @apply mb-[5px] leading-[1.56];
    }
    hr {
      @apply border-[none] border-b-[1px_solid_var(--white-offset)];
    }
    table {
      @apply w-full mt-[30px] mb-[30px];
      th,
      td {
        @apply p-[5px] align-top border-t-[1px_solid_var(--white-offset)];
      }
      thead,
      th {
        @apply align-bottom border-b-[1px_solid_var(--white-offset)] text-left font-bold;
      }
      tbody + tbody {
        @apply border-t-[1px_solid_var(--white-offset)];
      }
    }
    blockquote {
      @apply px-[1em] py-[0] border-l-[.25em_solid_var(--secondary)];
    }
  }
  .feature {
    @apply h-full border-[1px_solid_var(--white-offset)] rounded-[3px] p-[20px] bg-[#ffffff] flex items-center flex-col text-center;
    .feature-image {
      @apply flex-[0 0 auto] w-[80px] h-[80px] flex items-center mb-[20px] text-center;
    }
    img {
      @apply w-full h-auto;
    }
    .feature-title {
    }
    .feature-content {
      @apply mb-0 mt-[auto];
    }
  }
}

@layer utilities {
} 
