---
layout: default
bodyClass: "page-contact"
---

<div class="container w-full pt-6 pb-6 mx-auto sm:px-4 pt-md-10 pb-md-10">
    <div class="flex flex-wrap justify-start">
        <div class="w-full pl-4 pr-4 md:w-2/3">
            <div class="">
                <h1 class="text-3xl font-semibold text-eerie_black-600 dark:text-seasalt-500">{{page.title}}</h1>
                {% include call.html show_button=false %}
                <div class="w-full mt-4 prose">{{content}}</div>
            </div>
        </div>
    </div>
</div>