<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Cache-control" content="public">
    <link rel="icon" type="image/png" href="{{ '/images/favicon-32x32.svg' | relative_url }}">
    <!-- Google Fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{ '/assets/css/styles.css' | relative_url }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />{% endif %}
    {% if page.meta_title %}
    <meta property="og:title" content="{{ page.meta_title }}" />{% else %}
    <meta property="og:title" content="{{ page.title }}" />{% endif %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url }}" />
    {% if page.image %}
    <meta property="og:image" content="{{ page.image | absolute_url }}" />{% endif %}
    {% if page.description %}
    <meta property="og:description" content="{{ page.description }}" />{% endif %}
    <meta name="twitter:card" content="summary" />
    {% if site.data.seo.meta_twitter_site %}
    <meta name="twitter:site" content="{{ site.seo.meta_twitter_site }}" />{% endif %}
    {% if site.data.seo.meta_twitter_creator %}
    <meta name="twitter:creator" content="{{ site.seo.meta_twitter_creator }}" />{% endif %}

    <script type="text/javascript" src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
</head>

<body class="page {{layout.bodyClass}} dark:bg-eerie_black dark:text-seasalt-500">
    <div id=" wrapper" class="container mx-auto sm:px-4">
        {% include header.html headerClass='header-extra' %}
        {{content}}
    </div>
    {% include footer.html %}
    {% include google-analytics.html %}
    <script>
        checkTheme();
    </script>
</body>

</html>