---
layout: blog
bodyClass: "page-post"
---

<div class="intro">
    <div class="container mx-auto sm:px-4">
        <div class="flex flex-wrap justify-start">
            <div class="order-2 w-full pl-4 pr-4 md:w-3/5 lg:w-1/2 md:order-1">
                {{ content }}
            </div>
            {% if page.intro_image %}
            <div class="relative order-1 w-full pl-4 pr-4 md:w-2/5 lg:w-1/2 md:order-2">
                <img alt={{ page.title }}
                    class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}"
                    src="{{ page.intro_image | relative_url }}" />
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container pt-6 pb-6 mx-auto sm:px-4">
    <div class="flex flex-wrap ">
        {% for post in site.posts %}
        <div class="w-full pl-4 pr-4 mb-3 md:w-1/2">
            <div class="service service-summary">
                <div class="service-content">
                    <h2 class="service-title">
                        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                    </h2>
                    <p>{{ post.excerpt | markdownify | strip_html | truncate: 100 }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>