---
layout: default
bodyClass: "page-services"
---

<div class="relative w-auto px-6 pt-8 isolate">
    <div class="grid w-auto grid-cols-5 pt-3 ml-28 mr-28">
        <div class="col-span-3">
            <div class="mt-6 text-lg leading-8 prose text-eerie_black-600 dark:text-seasalt-500">
                {{ content }}
            </div>
        </div>
        <div class="relative order-1 w-full col-span-2 pl-4 pr-4">
            <img alt="{{ page.title }}" class="m-auto"
                src="{{ page.intro_image | relURL }}" />
        </div>
    </div>
</div>

{% if page.title == "IT Services" %}
<div class="w-full mx-auto mt-6 text-center ">
    <div class="bg-no-repeat">
        <div class="container pt-6 pb-6 mx-auto sm:px-4 pb-md-10">
            <div class="flex flex-wrap justify-center">
                {% for service in site.it-services %}
                <a href="{{ service.url | relative_url }}"
                    class="flex flex-row items-center max-w-xl m-4 border rounded-lg shadow border-primary dark:shadow-seasalt-700 hover:bg-seasalt-offsset dark:border-seasalt-700 dark:bg-eerie_black-600 dark:hover:bg-true_blue-600">
                    <img class="object-cover h-24 rounded-t-lg" src="{{ service.image }}"
                        alt="{{ service.title }} icon">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-true_blue dark:text-seasalt-500">{{
                            service.title }}
                        </h5>
                        <p class="mb-3 font-normal text-eerie_black-600 dark:text-seasalt-500">{{ service.excerpt | markdownify |
                            strip_html | truncate: 100 }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if page.title == "Software Development" %}
<div class="w-full mx-auto mt-6 text-center ">
    <div class="bg-no-repeat">
        <div class="container pt-6 pb-6 mx-auto sm:px-4 pb-md-10">
            <div class="flex flex-wrap justify-center">
                {% for service in site.software-development %}
                <a href="{{ service.url | relative_url }}"
                    class="flex flex-row items-center max-w-xl m-4 border rounded-lg shadow border-primary dark:shadow-seasalt-700 hover:bg-seasalt-offsset dark:border-seasalt-700 dark:bg-eerie_black-600 dark:hover:bg-true_blue-600">
                    <img class="object-cover h-24 rounded-t-lg" src="{{ service.image }}"
                        alt="{{ service.title }} icon">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-true_blue dark:text-seasalt-500">{{
                            service.title }}
                        </h5>
                        <p class="mb-3 font-normal text-eerie_black-600 dark:text-seasalt-500">{{ service.excerpt | markdownify |
                            strip_html | truncate: 100 }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if page.title == "Consulting" %}
<div class="w-full mx-auto mt-6 text-center ">
    <div class="bg-no-repeat">
        <div class="container pt-6 pb-6 mx-auto sm:px-4 pb-md-10">
            <div class="flex flex-wrap justify-center">
                {% for service in site.consulting %}
                <a href="{{ service.url | relative_url }}"
                    class="flex flex-row items-center max-w-xl m-4 border rounded-lg shadow border-primary dark:shadow-seasalt-700 hover:bg-seasalt-offsset dark:border-seasalt-700 dark:bg-eerie_black-600 dark:hover:bg-true_blue-600">
                    <img class="object-cover h-24 rounded-t-lg" src="{{ service.image }}"
                        alt="{{ service.title }} icon">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-true_blue dark:text-seasalt-500">{{
                            service.title }}
                        </h5>
                        <p class="mb-3 font-normal text-eerie_black-600 dark:text-seasalt-500">{{ service.excerpt | markdownify |
                            strip_html | truncate: 100 }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif%}

{% if page.title == "Data Services" %}
<div class="w-full mx-auto mt-6 text-center ">
    <div class="bg-no-repeat">
        <div class="container pt-6 pb-6 mx-auto sm:px-4 pb-md-10">
            <div class="flex flex-wrap justify-center">
                {% for service in site.data-services %}
                <a href="{{ service.url | relative_url }}"
                    class="flex flex-row items-center max-w-xl m-4 border rounded-lg shadow border-primary dark:shadow-seasalt-700 hover:bg-seasalt-offsset dark:border-seasalt-700 dark:bg-eerie_black-600 dark:hover:bg-true_blue-600">
                    <img class="object-cover h-24 rounded-t-lg" src="{{ service.image }}"
                        alt="{{ service.title }} icon">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-true_blue dark:text-seasalt-500">{{
                            service.title }}
                        </h5>
                        <p class="mb-3 font-normal text-eerie_black-600 dark:text-seasalt-500">{{ service.excerpt | markdownify |
                            strip_html | truncate: 100 }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif%}